* {
    margin: 0;
    padding: 0;
    transition: all .5s;
}
/* --- SEARCH BAR --- */
#searchContainer {
    display: flex;
    justify-content: center;
}
#searchBar {
    display: flex;
    position: relative;
    margin-top: 1vh;
    width: 90vw;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #f0efeb;
}
#searchBar .icon {
    position: absolute; 
    top: 50%; /* Align vertically */
    left: 15px; /* Position from the left */
    transform: translateY(-50%); /* Fine-tune vertical alignment */
    color: gray;
}
#searchInput {
    padding: 10px 10px 10px 33px; /* Add left padding for the icon */
    width: 100%;
    border: 0;
    background-color: #f0efeb;
    font-size: 16px;
}
#searchInput:focus {
  outline: none;
}
#gridContainer {
    margin-top: 3vh;
    margin-left: 4vw;
    display: grid;
    grid-template-columns: 5fr 2fr;
    /* border: 2px solid red; */
}
#recentEntriesContainer {
    grid-row: 1;
    
}
#newEntriesContainer {
    grid-row: 2;
}
#sideBar {
    grid-column: 2;
    grid-row: 1/3;
    /* border: 3px solid orange; */
}
h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardEntry {
    padding: 10px;
    background-color: #f0efeb;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 2vh;
}
.cardEntry:hover {
    transform: scale(1.01);
}
.leftCard {
    display: flex;
    align-items: center;
}
.leftCard i {
    font-size: 2rem;
    margin-right: 2vw;
    color: gray;
}
.date {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(84, 84, 84);
}
.rightCard {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
.rightCard i {
    font-size: 1rem;
    color: gray;
}