* {
    margin: 0;
    padding: 0;
    transition: all .5s;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;

}
.modal.show {
    display: flex;
    flex-direction: row-reverse;
}
.modalContent {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
}
#closeModal {
    font-size: 20px;
    display: block;
    text-align: right;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
input {
    font-size: 16px;
    padding: 2px;
}
#descriptionInput {
    height: 100px;
    width: 300px;
}
form > div {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
#submitButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    height: 30px;
}
/* --- SEARCH BAR --- */
#searchContainer {
    display: flex;
    justify-content: center;
}
#searchBar {
    display: flex;
    position: relative;
    margin-top: 1vh;
    width: 90vw;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #f0efeb;
}
#searchBar .icon {
    position: absolute; 
    top: 50%; /* Align vertically */
    left: 15px; /* Position from the left */
    transform: translateY(-50%); /* Fine-tune vertical alignment */
    color: gray;
}
#searchInput {
    padding: 10px 10px 10px 33px; /* Add left padding for the icon */
    width: 100%;
    border: 0;
    background-color: #f0efeb;
    font-size: 1rem;
}
#searchInput:focus {
  outline: none;
}
#gridContainer {
    margin-top: 3vh;
    margin-left: 4vw;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
    /* border: 2px solid red; */
}
#recentEntriesContainer {
    grid-row: 1;
    
}
#starredEntriesContainer {
    grid-row: 2;
}
#sideBar {
    grid-column: 2;
    grid-row: 1/3;
    /* border: 3px solid orange; */
    margin-right: 4vw;
    margin-left: 2vw;
}
#recentEntriesHeading, #starredEntriesHeading {
    margin-top: 4vh;
    margin-bottom: 2vh; 
    display: flex;
    align-items: center;
}

#addNewButton {
    color: #545454;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid grey;
}
#addNewButton:hover {
   background-color: #f0f0f0;
}
h2 {
    margin-right: 2vw;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardEntry {
    padding: 10px;
    background-color: #f6f5f1;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 2vh;
}
.cardEntry:hover {
    transform: scale(1.01);
}
.topSection {
    display: flex;
    justify-content: space-between;
}

.leftCard {
    display: flex;
    align-items: center;
}
.leftCard i {
    font-size: 2rem;
    margin-right: 2vw;
    color: gray;
}
.date {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #545454;
}
.rightCard {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
.rightCard i {
    font-size: 1rem;
    color: gray;
}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cardEntry .fa-star {
    font-size: .9rem;
}
.starred .fa-star { 
    color: rgb(255, 217, 0)
}
.rightCard .fa-trash {
    margin-right: 1vw;
}
.rightCard .fa-trash:hover {
    animation-name: shake;
    animation-duration: 0.4s;        /* How long the animation takes */
    animation-iteration-count: 2; /* How many times it repeats (infinite or a number) */
    animation-timing-function: ease-in-out;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(35deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-35deg); }
    100% { transform: rorate(0def); }
}
#sideBar h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    margin-top: 4vh;
    margin-bottom: 2vh; 
    
}
h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.reflectionSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#wrappedButton {
    border: 3px solid rgb(130, 130, 130);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
#sideBar a {
    color: black;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}